 <div class="box box-solid bg-blue ng-scope">
    <div class="box-body">
        <small>
            <span>
                <b class="ng-binding">Fecha Última Modificación: {{selecteditem.modificado| date:'dd/MM/yyyy'}}</b>
            </span>
            <span>
                <b class="ng-binding"> - Usuario Modificó: {{selecteditem.modificadoPorNombre}}</b>
            </span>
        </small>
    </div>
</div>
