<div class="row padding0 clearfix">
    <div class="form-group col-sm-10" style="padding-top: 5px;">

        <div class="form-group col-sm-6">
            <label class="col-sm-2 control-label" style="padding-top: 5px;padding-left: 0px;padding-right: 0px;">Desde</label>
            <div class="col-sm-10">
                <select ng-model="selectedFechaMin" ng-options=" item as item.label for item in fechaMin  track by item.id" class="form-control"></select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-2 control-label" style="padding-top: 5px;padding-left: 0px;padding-right: 0px;">Hasta</label>
            <div class="col-sm-10">
                <select ng-model="selectedFechaMax" ng-options=" item as item.label for item in fechaMax  track by item.id" class="form-control"></select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-2 control-label" style="padding-top: 5px;padding-left: 0px;padding-right: 0px;">Contrato</label>
            <div class="col-sm-10">
                <select ng-model="selectedContrato" ng-options=" item as item.label for item in contratos track by item.id" class="form-control"></select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-2 control-label" style="padding-top: 5px;padding-left: 0px;padding-right: 0px;">Nombre</label>
            <div class="col-sm-10">
                <select ng-model="selectedNombre" ng-options=" item as item.label for item in nombres track by item.id" class="form-control"></select>
            </div>
        </div>

    </div>
    <div class="form-group col-sm-2">
        <button class="btn btn-primary btn-sm pull-right col-sm-12" style="margin-top: 5px;margin-bottom: 5px;"
                ng-click="ObtenerGraficos()">
            Actualizar
        </button>
        <button class="btn btn-success btn-sm pull-right col-sm-12" style="margin-top: 5px;margin-bottom: 5px;"
                ng-click="ObtenerExcel()">
            Excel
        </button>
    </div>
    <div class="padding0 form-group col-sm-12" ng-if="showGrafico">
        <nvd3 options="options" data="ChartCollection.charts"></nvd3>
    </div>
    <div class="padding0 form-group col-sm-12" ng-if="showBuscando" style="text-align:center;">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
    </div>
</div>
